/* Container Styling */
.committee-container {
    margin: 25px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 60px;
    color: black;
}

/* Header */
.committee-header h1 {
    border-left: 4px solid var(--primary-bg-blue);
    padding-left: 10px;
    color: var(--primary-bg-blue);
    font-size: 24px;
}

/* Image Styling */
.committee-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* Section Titles */
.team-section h3 {
    color: var(--primary-green);
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 5px;
}

.team-section h2 {
    font-weight: 600;
    border-bottom: 2px solid black;
    width: fit-content;
}

/* Teams Box */
.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    flex: 1 1 calc(33.33% - 30px); /* Responsive sizing */
    min-width: 250px; /* Ensures it doesn't shrink too much */
}

.team-box:hover {
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.32);
    transform: translateY(-4px);
}

/* Team Text */
.team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.team-box h4 {
    font-weight: 700;
}

.team-box h5 {
    font-weight: 500;
}

.team-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.committee-list {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px; 
    justify-content: center;
    padding: 0;
    list-style: none;
    padding: 30px;
}

.committee-list li {
    font-size: 1rem;
    text-align: center;
    /* flex: 1 1 calc(33.33% - 40px);  */
    min-width: 220px;
    transition: transform 0.2s ease-in-out;
}

