.committee-container {
    margin: 25px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 60px;
    color: black;
}

.committee-header {
    font-size: 1rem;
    border-left: #1b345f;
}
.committee-header h1 {
    border-left: 4px solid var(--primary-bg-blue);
    padding-left: 10px;
    color: var(--primary-bg-blue);
    font-size: 24px;
}

.committee-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.team-section h3 {
    color: var(--primary-green);
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 5px;
}
.team-box:first-child{
    flex: 1 1 100%;
    
}
.team-section h2 {
    font-weight: 600;
    border-left: 4px solid var(--primary-bg-blue);
    width: fit-content;
    padding-left: 10px;
    margin: 20px 0px;
}

.team-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    flex: 1 1 calc(33.33% - 30px);
    min-width: 250px; 
}


.team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    flex-grow: 1;
}
.team-box h4 {
    font-weight: 700;
}

.team-box h5 {
    font-weight: 500;
}

.team-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.committee-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    gap: 20px; 
    padding-left: 50px;
}
@media(max-width : 500px){
    .committee-container{
        margin: 0px;
        border-radius: 0px;
        padding: 20px;
    }

}

