footer {
    background-color: var(--primary-bg-blue);
    color: var(--text-color);
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    gap: var(--spacing-medium);
    margin: 0;
    padding: var(--spacing-small) var(--spacing-small);
}

.footer-logo,
.footer-about,
.footer-services,
.footer-contact {
    margin: var(--spacing-small);
    text-align: left;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    max-width: var(--logo-width);
    height: auto;
}

.footer-about {
    width: 300px;
}

.footer-about h3,
.footer-services h3,
.footer-contact h3 {
    margin-bottom: var(--spacing-small);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
}

.footer-about p {
    font-size: var(--font-size-base);
    color: var(--secondary-color);
}

.footer-services ul,
.footer-contact ul {
    list-style: none;
    padding-left: 0;
}

.footer-services ul li,
.footer-contact ul li {
    margin-bottom: .3rem;
}

.footer-services ul li a,
.footer-contact ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--font-size-base);
    transition: color 0.3s ease;
}

.footer-services ul li a:hover,
.footer-contact ul li a:hover {
    color: var(--text-color);
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-medium);
    font-size: var(--font-size-heading);
}

.social-icons a {
    color: var(--secondary-color);
    font-size: var(--font-size-heading);
}


.social-icons a i {
    font-size: var(--font-size-base);
    transition: all 0.3s ease-out;
}

.footer-copyright p {
    color: var(--copyright-color);
    padding-bottom: 10px;
}

.footer-copyright {
    text-align: center;
    margin-top: var(--spacing-small);
    font-size: var(--font-size-small);
}

.footer-contact a,
.footer-contact p {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-contact p {
    font-size: var(--font-size-base);
}

.footer-contact a:hover {
    transform: scale(1.07);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: var(--spacing-medium);
    }

    .footer-logo {
        margin-bottom: var(--spacing-small);
    }

    .footer-about {
        width: 100%;
    }

    .footer-services,
    .footer-contact {
        width: 100%;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .footer-copyright {
        padding: var(--spacing-small);
        text-align: center;
        width: auto;
    }
}