.header {
  background: url("../assets/header_bg_1.png");
  color: var(--primary-bg-blue);
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
}

.header_content {
  display: flex;
  padding: 0 var(--spacing-large);
  justify-content: space-between;
  align-items: center;
}

.header_content p {
  width: 400px;
}

.header_content img {
  width: 160px;
}

/* Navbar */
.navbar,
.navbar-open {
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--primary-bg-blue);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-large);
  z-index: 1000;
  font-size: clamp(0.8rem, 1.14vw, 1rem);
}

.navbar ul,
.navbar-open ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: var(--spacing-medium);
  align-items: center;
}

.navbar ul a,
.navbar-open ul a {
  color: var(--white);
  text-decoration: none;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}

.dropdown-container {
  position: relative;
}

.dropdown-hide {
  display: none;
  position: absolute;
  background-color: var(--white);
  padding: var(--spacing-small) 0;
  box-shadow: var(--box-shadow);
  min-width: 180px;
  top: 100%;
  left: 0;
  border-radius: var(--spacing-small);
  z-index: 1000;
  flex-direction: column;
  cursor: pointer;

}

.dropdown-show {
  position: absolute;
  background-color: var(--white);
  padding: var(--spacing-small) 0;
  box-shadow: var(--box-shadow);
  min-width: 180px;
  top: 100%;
  border-radius: var(--spacing-small);
  z-index: 1000;
  flex-direction: column;
}

.dropdown-show p {
  padding: var(--spacing-small) var(--spacing-medium);
  color: var(--primary-bg-blue);
  white-space: nowrap;
}

.dropdown-show p:hover {
  background-color: var(--copyright-color);
}

/* Button */
.btn a {
  color: var(--primary-bg-blue) !important;
  background-color: var(--white);
  border-radius: 20px;
  padding: var(--spacing-small) var(--spacing-medium);
  transition: all 0.3s ease;
}

.btn a:hover {
  background-color: var(--copyright-color);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  top: 18px;
  left: 20px;
  color: var(--primary-bg-blue);
  z-index: 1100;
}

@media (max-width: 1140px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .header_content {
    position: relative;
    display: flex;
    justify-content: left;
    width: 100vw;
  }

  .header_content p {
    width: 420px;
    padding-left: 20px;
  }

  .header_content img {
    position: absolute;
    right: 30px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--primary-bg-blue);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    z-index: 1000;
  }

  .navbar ul {
    display: none;
  }

  .navbar-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--primary-bg-blue);
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    z-index: 1000;
  }

  .navbar-open ul {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    justify-content: start;
  }

  .dropdown-show {
    position: static;
  }

  .btn a {
    width: 100%;
    text-align: center;
    display: block;
  }
}

@media (max-width: 670px) {
  .header {
    height: auto;
    padding: 10px 0;
  }

  .header_content img {
    display: none;
  }

  .navbar-open ul {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-medium);
    justify-content: start;
    gap: 20px;
  }
  
  .header_content {
    justify-content: space-evenly;
    padding: 0 0 0 7px;
  }
}

@media (max-width: 440px) {
  .header_content p {
    font-size: .7rem;
  }
}