.plagiarism_cointainer {
    color: var(--black);
    width: 95vw;
    margin: 25px auto;
    padding: 40px 60px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.5;
}

.plagiarism-h {
    padding: 0 0 0 10px;
    border-left: 4px solid var(--primary-bg-blue);
    gap: var(--spacing-small);
    font-size: .8rem;
    color: var(--primary-bg-blue);
    margin-bottom: 20px;
}
.plagiarism-p {
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 30px;
}

.plagiarism-box {
    margin-top: 20px;
    padding: 20px;
    /* background: #f5f5f5; */
    border: 1px dashed var(--primary-bg-blue);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.rule {
    margin: 0 20px;
}

.rule p,.rule h{
    line-height: 1.6;

}

.rule p {
    margin-bottom: 20px;
}

.span {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
    color: var(--primary-bg-blue);
}

@media (max-width: 660px) {
    .plagiarism_cointainer {
        padding: 20px;
    }
    .plagiarism-box {
        padding: 10px;
    }
    .plagiarism-h {
        font-size: .7rem;
    }
    .plagiarism-p {
        font-size: .9rem;
    }
    .rule p {
        font-size: .9rem;
    }
    .span {
        font-size: .9rem;
    }
}