/* timer.css */
.countdown-body {
	color: #1b345f;
	padding: 20px 20px 60px 20px;
	font-size: clamp(2em, 4.5vw, 5em);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-heading {
	font-size: clamp(2rem, 3.5vw, 2.7rem);
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 1.5em;
	color: #1b345f;
}

.flip-card {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	border-radius: 0.1em;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	width: 1.1em;
	height: 1.5em;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	perspective: 1000px;
}

.top,
.bottom,
.flip-card.flip::after,
.flip-card.flip::before {
	padding: 0.25em;
	height: 0.75em;
	line-height: 1;
	overflow: hidden;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top,
.flip-card.flip::before {
	display: flex;
	align-items: flex-start;
	background-color: #1b345f;
	color: white;
	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card.flip::after {
	display: flex;
	align-items: flex-end;
	background-color: #4a5d89;
	color: white;
	border-bottom-left-radius: 0.1em;
	border-bottom-right-radius: 0.1em;
}

.flip-card.flip::before {
	top: 0;
	left: 0;
	width: 100%;
	content: attr(data-current-number);
	position: absolute;
	transform-origin: bottom;
	animation: flip-bottom 500ms ease;
	backface-visibility: hidden;
}

@keyframes flip-bottom {
	100% {
		transform: rotateX(180deg);
	}
}

.flip-card.flip::after {
	left: 0;
	bottom: 0;
	width: 100%;
	content: attr(data-next-number);
	position: absolute;
	transform-origin: top;
	animation: flip-top 500ms ease forwards;
	transform: rotateX(180deg);
	backface-visibility: hidden;
	opacity: 0;
}

@keyframes flip-top {
	0% {
		opacity: 0;
		transform: rotateX(180deg);
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}

.countdown-container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
}

.countdown-cards {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card-title {
	font-size: clamp(0.8rem, 1.5vw, 1rem);
	letter-spacing: 1px;
	margin-bottom: 0.5em;
	color: #1b345f;
	text-transform: uppercase;
}

.card-container {
	display: flex;
	gap: 0.125em;
}

.date-picker {
	margin-top: 20px;
	text-align: center;
}

.date-picker input {
	font-size: 1rem;
	padding: 0.5em;
	border-radius: 0.25em;
	border: 1px solid #1b345f;
	background-color: #4a5d89;
	color: white;
	transition: background-color 0.3s ease;
}

.date-picker input:focus {
	background-color: #3a4c73;
}

@media(max-width:768px) {
	.countdown-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
}