.about_container {
  margin: 25px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about_institution {
  padding: 20px;
  gap: var(--spacing-medium);
}

.about_container h1 {
  font-size: 24px;
  border-left: 4px solid var(--primary-bg-blue);
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  color: var(--primary-bg-blue);
}

.about_container p {
  font-size: 1rem;
  font-weight: 400;
  padding: var(--spacing-small);
  text-align: justify;
  color: var(--black);
  margin: 0 0 var(--spacing-large) 0;
}

.about_container p span {
  font-weight: 700;
}

.about_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo {
  gap: 12px;
  width: 105px;
  text-align: center;
  margin-top: 20px;
}

.logo p {
  text-align: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo p {
  font-size: var(--font-size-small);
}

.about_container hr {
  height: 2.5px;
  background-color: var(--copyright-color);
  margin: 0;
}

.about_spark,
.about_ece,
.about_eee {
  padding: 20px;
  gap: var(--spacing-medium);
}


@media (max-width: 500px) {
  .about_container {
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
  }

  .about_container hr {
    margin: 20px 0px
  }

  .about_logos p {
    margin-bottom: 00px;
  }

  .about_institution,
  .about_spark,
  .about_ece,
  .about_eee {
    padding: 0px;
  }
}