.committee-container {
    margin: 25px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 60px;
    color: black;
    padding-top: 10px;
}
.committee-container h1{
    border-left: 4px solid var(--primary-bg-blue);
    padding-left: 10px;
    color: var(--primary-bg-blue);
    font-size: 24px;
    margin: 40px 0px 10px 0px;
}
.committee-header h1 {
    border-left: 4px solid var(--primary-bg-blue);
    padding-left: 10px;
    color: var(--primary-bg-blue);
    font-size: 24px;
    margin: 40px 0px 10px 0px;
}

.committee-list {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 20px; 
    padding-left: 20px;
}

.committee-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.16);
    max-width: 400px;
    flex: 1 1 calc(25% - 30px);
}
.team-box-null{
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: left;
    flex: 100%;
}
.team-no-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    min-width: 250px;
    flex: 1 1 calc(25% - 30px);
}

.team-text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.team-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.team-text-row h3 {
    min-width: 200px;
}

@media (max-width: 1120px) {
    .team-box,
    .team-no-box {
        flex: 1 1 calc(50% - 30px); 
    }
}

@media (max-width: 700px) {
    .team-box,
    .team-no-box {
        flex: 1 1 100%; 
    }
}

@media (max-width: 500px) {
    .committee-container {
        margin: 0px;
        border-radius: 0px;
        padding: 20px;
    }
    .committee-list {
        padding-left: 0px;
    }
    .team-text-row {
        flex-direction: column;
        gap: 10px;
    }
}