.contact_us-container hr {
    height: 2.5px;
    background-color: #33333380;
    margin: 32px;
    width: 95%;
}

.contact_us-container span {
    font-size: 1rem;
    font-weight: 700;
}

.contact_us-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background: #ffffff;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact_us-container-text p {
    color: var(--black);
}


.contact_us-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 80px;
}

.form-main {
    margin-right: 50px;
    width: 500px;
    height: 466px;
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 16px 24px;
    gap: 32px;
    background: var(--form-bg);
}


.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 409px;
    gap: 20px;
    padding-left: 50px;
    text-align: justify;

}


.form-content p {
    color: var(--black);
}

label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
}

label span {
    font-size: 1.2rem;
    font-weight: 700;
}


input[type="email"],
input[type="text"] {
    margin-bottom: 25px;
    margin-top: 20px;
    border: none;
    width: 420px;
    height: 43px;
    background-color: var(--form-bg);
    font-size: 1rem;
    padding: 8px;
    transition: border-color 0.3s ease-in-out;
    border-bottom: 1px solid #742525;
}

input[type="submit"] {
    background-color: var(--primary-bg-blue);
    color: var(--white);
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    width: 140px;
    height: 50px;
    font-family: var(--main-font);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

input[type="submit"]:hover {
    background-color: var(--card-background-color);
    color: var(--primary-bg-blue);
}

input:focus {
    border-bottom: 1px solid var(--primary-bg-blue);
}

.get-in-touch {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}

.get-in-touch-info {
    width: 500px;
    height: 166px;
    text-align: justify;

}

.get-in-touch-info p {
    color: var(--black);
}

.git-head {
    font-weight: 500;
    border-bottom: 5px solid var(--primary-bg-blue);
    width: 165px;
    font-size: 24px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#git-head-span {
    padding-left: 6px;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-bg-blue);
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.contact-h {
    color: var(--black);
    font-weight: 500;
}

.map {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
}

.map-live {
    width: 500px;
    height: 400px;
    gap: 30px;
    margin-left: 60px;
}

.map-live p {
    color: var(--black);
}

#map-head {
    border-left: 4px solid var(--primary-bg-blue);
    color: var(--primary-bg-blue);
    width: 110px;
    font-size: 24px;
    height: 40px;
    padding-left: 8px;
}

.map-image {
    width: 400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    border-radius: 10px;
}

.map-image img {
    width: 500;
    height: 243;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.map-image a {
    text-decoration: none;
    width: fit-content;
    position: relative;
    margin-bottom: 10px;
    color: var(--primary-bg-blue);
    padding-left: 10px;
}

.map-image p {
    color: black;
    padding-left: 10px;
}

#externallink-icon {
    font-size: 13px;
}

#form-content-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width:1150px) {
    .contact_us-container {
        padding: 20px;
    }

    .contact_us-form {
        gap: 20px;
        width: 100%;
    }

    .form-content {
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .form-main {
        width: 100%;
    }

    .get-in-touch {
        gap: 20px;
        width: 100%;
    }


    @media (max-width: 1020px) {
        .contact_us-container {
            padding: 15px;
        }

        .contact_us-form {
            height: auto;
            padding: 0;
            margin: 0;
            gap: 0;
        }

        .form-content {
            height: auto;
        }

        .form-main {
            width: 100%;
        }

        .get-in-touch {
            gap: 15px;
            width: 100%;
        }

        .contact {
            text-align: center;
            gap: 15px;
            width: 100%;
        }

        .map {
            align-items: center;
            width: 100%;
        }

        .map-live {
            width: 100%;
            margin-left: 0;
            height: auto;
        }

        .map-image img {
            width: 100%;
            height: auto;
        }

        .map-image {
            width: 100%;
        }
    }

    @media (max-width: 900px) {
        .contact_us-form {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            width: 100%;
            padding-left: 0;
        }

        .form-main {
            width: 100%;
            height: auto;
            max-width: 450px;
            padding: 16px;
            margin: 0;
        }

        .form-content {
            max-width: 450px;
            width: 100%;
            padding-left: 0;
        }
    }

    @media (max-width: 500px) {
        .contact_us-container {
            padding: 0;
            margin: 0;
            border-radius: 0;
        }

        .form-main {
            font-size: .5rem;
        }

        input[type="email"],
        input[type="text"] {
            width: 100%;
            font-size: .8rem;
            min-width: 200px;
        }

        input[type="submit"] {
            width: 100%;
            font-size: 15px;
            max-width: 120px;
        }
    }

    .contact {
        padding-bottom: 0;
    }

}

@media (max-width: 660px) {
    .contact_us-container {
        padding: 10px;

    }

    .contact_us-form {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .form-content {
        width: 100%;
        gap: 5px;
    }

    .form-main {
        width: 100%;
    }

    .get-in-touch {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .get-in-touch-info {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .map {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .map-live {
        width: 100%;
        margin-left: 0;
    }

    .map-image img {
        width: 100%;
        height: auto;
    }

    .map-image {
        width: 100%;
    }

    input[type="email"],
    input[type="text"] {
        width: 100%;
    }
}

@media (max-width:330px) {
    .get-in-touch-info {
        margin-bottom: 70px;
    }
}