.home-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  gap: 30px;
}

.home-logo img {
  max-width: 200px;
}


.home-logo-content h1 {
  text-align: center;
  font-size: 26px;
  color: var(--primary-bg-blue);

}

.main_container {
  margin: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container {
  text-align: center;
  width: 100%;
}

.container img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main_container hr {
  height: 2.5px;
  background-color: var(--copyright-color);
  margin: var(--spacing-large);
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-content {
  line-height: 1.5;
}

.home-content h2 {
  color: var(--primary-bg-blue);
  border-left: 4px solid var(--primary-bg-blue);
  padding-left: 10px;
  margin-left: 20px;
}

.home-content p {
  color: black;
  text-align: justify;
  padding: 10px 30px;
}

@media (min-width : 1025px) {
  .home-content {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .home {
    display: flex;
    flex-direction: column;

  }

  .home-sidebar {
    margin-right: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main_container {
    margin: 15px;
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .main_container {
    margin: 0;
    padding: 10px;
    border-radius: 0px;
  }

  .home-content h2 {
    margin-left: 10px;
  }

  .home-content p {
    padding: 10px;
  }

  .important {
    padding: 10px;
  }

  .home-logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-logo img {
    max-width: 180px;
  }
}