.plagiarism_cointainer {
    color: var(--black);
    margin: 25px;
    padding: 40px 60px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.5;
}

.plagiarism-h {
    padding: 0 0 0 10px;
    border-left: 4px solid var(--primary-bg-blue);
    gap: var(--spacing-small);
    font-size: .75rem;
    color: var(--primary-bg-blue);
    margin-bottom: 20px;
}

.plagiarism-p {
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 30px;
}

.rule {
    margin: 0 20px;
}

.rule p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.span {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
    color: var(--primary-bg-blue);
}

@media (max-width: 500px) {
    .plagiarism_cointainer {
        margin: 0px;
        border-radius: 0px;
        padding: 20px;
    }

}