.register-container {
    background-color: #ffffff;
    margin: 25px;
    padding: 40px 60px;
    border-radius: 10px;
    color: black;
}

.register-container h1 {
    color: var(--primary-bg-blue);
}

.register-header h1,
.register-table-content h1,
.register-account-details h1 {
    border-left: 4px solid var(--primary-bg-blue);
    padding-left: 10px;
    font-size: 24px;
}

.register-header p {
    font-size: 1rem;
    text-align: justify;
    padding: 20px 10px 30px 10px;
}

.register-header a {
    background-color: #1b345f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    transition: all 0.3s ease-in;
}

.register-header a:hover {
    background-color: var(--card-background-color);
    color: var(--primary-bg-blue);
}

.register-table-content {
    padding: 60px 0px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.register-table table {
    margin-left: 20px;
}

.register-table-content p {
    padding-top: 20px;
}

.register-account-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-table table {
    padding: 20px;
}

td,
th {
    padding-right: 100px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .register-container {
        padding: 25px 30px;
        margin: 15px;
    }

    .account-table table {
        padding: 0;
    }

    .register-header h1,
    .register-table-content h1,
    .register-account-details h1 {
        font-size: 20px;
    }

    .register-table table {
        margin-left: 0;
    }

    .register-header a {
        font-size: .9rem;
    }
}

@media (max-width: 576px) {
    .register-header p {
        font-size: .85rem;
    }

    .register-table-content p {
        font-size: .85rem;
        padding: 0;
    }

    .register-account-details p {
        font-size: .85rem;
    }

    .register-container {
        margin: 0;
        border-radius: 0;
        padding: 20px 15px;
    }

    td,
    th {
        padding: 8px 10px;
        font-size: 12px;
    }

    .register-header p {
        padding: 15px 0 20px 0;
    }

    .register-table-content {
        padding: 40px 0 20px 0;
        gap: 30px;
    }

    table {
        min-width: 550px;
    }

    .register-header a {
        font-size: .7rem;
        margin: 0;
    }

    .register-table,
    .account-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 360px) {
    .register-container {
        padding: 15px 10px;
    }

    td,
    th {
        padding: 6px 8px;
        font-size: 12px;
    }

    .register-header h1,
    .register-table-content h1,
    .register-account-details h1 {
        font-size: 18px;
    }
}