.sidebar {
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: fit-content;
    width: fit-content;
}

.sidebar-section {
    margin-bottom: 10px;
}

.sidebar-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-section h3 i {
    font-size: 1.2em;
    color: var(--primary-color);
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--primary-color);
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9em;
    z-index: 1;
}

.timeline-content {
    flex: 1;
}

.timeline-content strong {
    display: block;
    font-size: 1em;
    color: var(--primary-color);
}

.timeline-content p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #555;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.social-links a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-green);
}

.download-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.download-link:hover {
    color: var(--primary-green);
}

.download-link i {
    font-size: 1.2em;
}